/*=========================================
[Master LESS/CSS Stylesheet, HTML Template]
Version: 4.0
Author: Kevin Montgomery

[Master Stylesheet idea from Smashing Magazine]
70 Expert Ideas For Better CSS Coding
http://coding.smashingmagazine.com/2007/05/10/70-expert-ideas-for-better-css-coding/
===========================================*/

/* [Normalize CSS Reset (Compressed) - Initializr 4.0] */
@import "normalize.min.css?ver=4.0.0";

/* [Foundation CSS (Compressed) 5.2.2] */
@import "foundation.min.css?ver=5.2.2";

/* [LESS CSS 1.7.0] */
@import "colors.less?ver=1.7.0";
@import "typography.less?ver=1.7.0";
@import "layout.less?ver=1.7.0";